.container{
    text-align: center !important; 
    align-items: center !important;
    padding-left: 200px;
}

form{
    text-align: center !important; 
    align-items: center !important;
}

h2{
    text-align: center !important; 
    align-items: center !important;
}

hr{
    width:0px;
    margin-bottom: 70px;
}