.container{
    text-align: center !important; 
    align-items: center !important;
    padding-left: 200px;
}

form{
    text-align: center !important; 
    align-items: center !important;
}

h2{
    text-align: center !important; 
    align-items: center !important;
}