<div class="contianer" style="width: 530px">
  <div class="row m-3" id="heading">
    <h2>Login To Food App!</h2>
  </div>
  <form #f="ngForm">
    <div class="row m-3">
      <div class="form-group">
        <div class="col">
          <label for="name"><strong>Enter Email ID</strong></label>
          <input
            type="text"
            class="form-control"
            name="emailId"
            placeholder="Enter Registered Email ID"
            [(ngModel)]="emailId"
            required
          />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="form-group">
        <div class="col">
          <label for="description"><strong>Enter Password</strong></label>
          <input
            type="text"
            class="form-control"
            name="password"
            placeholder="Enter Registered Password"
            [(ngModel)]="password"
            required
          />
        </div>
      </div>
    </div>
    <div class="row m-3">
      <div class="col">
        <button
          class="btn btn-primary"
          [disabled]="!f.valid"
          (click)="loginUser(f.value)"
        >
          Login
        </button>
        |
        <button class="btn btn-primary" (click)="redirecToRegister()">
          SignUp
        </button>
      </div>
    </div>
  </form>
</div>
