<!-- <button class="btn" id="logout" (click)="onLogout()">Logout</button> -->
<div class="container" style="width: 1000px">
  <div class="row">
    <h2 class="display-1">Welcome to FoodBox</h2>
    <h3 *ngIf="loginToken == -1">Please Login/SignUp to continue.</h3>
    <h3 class="display-2" *ngIf="loginToken == 1">[ Admin Portal ]</h3>
    <h3 class="display-2" *ngIf="loginToken == 0">[ User Portal ]</h3>
    <hr />
  </div>

  <div class="row">
    <ul class="list-group">
      <div class="cuisineoptions" *ngIf="loginToken == 1">
        <h5 id="cuisineheader">Cuisine Actions</h5>
        <li>
          <a href="addcuisine"
            ><button class="btn btn-outline-success">Add Cuisines</button></a
          >
        </li>
        <li>
          <a href="viewcuisines">
            <button class="btn btn-outline-primary">View Cuisines</button></a
          >
        </li>
        <li>
          <a href="viewcuisines">
            <button class="btn btn-outline-warning">Edit Cuisines</button></a
          >
        </li>
        <li>
          <a href="viewcuisines">
            <button class="btn btn-outline-danger">Delete Cuisines</button></a
          >
        </li>
      </div>
      <div class="useroptions" *ngIf="loginToken == 1">
        <h5 id="userheader">User Actions</h5>
        <li>
          <a href="adduser">
            <button class="btn btn-outline-success">Add Users</button></a
          >
        </li>
        <li>
          <a href="viewusers">
            <button class="btn btn-outline-primary">View Users</button></a
          >
        </li>
        <li>
          <a href="viewusers">
            <button class="btn btn-outline-warning">Edit Users</button></a
          >
        </li>
        <li>
          <a href="viewusers">
            <button class="btn btn-outline-danger">Delete Users</button></a
          >
        </li>
      </div>
    </ul>
  </div>
</div>
